/* app global css */
.single-line-value-select .q-field__native {
  flex-wrap: nowrap;
}

.single-line-value-select .q-field__native > span {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.size-limited-selected-item {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: calc(100% - 50px)
}

.q-chip--dense {
  border-radius: 3px;
  margin-bottom: 0;
  background-color: #d6ddd5;
}

.q-field--error.error-mb {
  margin-bottom: 20px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.q-select--with-input.q-select--single .q-field__input--padding {
  display: none;
}

.q-select--with-input.q-select--single span {
  text-overflow: ellipsis;
  display: inline-block;
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
}

a {
  color: #0a1109;
  -webkit-text-decoration-color: #0a110966;
  text-decoration-color: #0a110966;
  transition: 0.2s;
}

a:hover {
  -webkit-text-decoration-color: #0a1109;
  text-decoration-color: #0a1109;
}

.body--dark .q-page-container a,
.body--dark .q-dialog a {
  color: #F2F7A1;
  -webkit-text-decoration-color: #F2F7A166;
  text-decoration-color: #F2F7A166;
}

.body--dark {
  --q-primary: #5c7959;
 }

.highlighted {
  background-color: #ffebee !important;
  color: #58111A;
}

.label-Donado {
  background-color: #f2e5f2 !important;
  color: #800080;
}

.q-list.drawer-menu-list .q-item {
  padding-top: 4px;
  padding-bottom: 4px;
  min-height: 36px;
  transition: 0.2s;
  font-weight: 600;
}

.q-item.q-router-link--active .q-focus-helper, .q-item--active .q-focus-helper {
  background-color: currentColor;
  opacity: 0.15;
}

.body--dark .q-list.drawer-menu-list .q-item:not(.q-router-link--active):not(:hover) {
  /*opacity: 0.2;*/
}

.q-list.drawer-menu-list .q-item:not(.q-router-link--active):not(:hover) {
  /*opacity: 0.4;*/
  font-weight: 400;
}

.q-list.drawer-menu-list .q-item .q-item__section--avatar {
  min-width: 2.5rem;
}

.q-list.drawer-menu-list .q-item i.q-icon {
  font-size: 1.25rem;
}
